body > footer {
    padding: 25px;
    background-color: $colour_background_footer;
    color: #ffffff;
    h3 {
        @include footer_h3_font;
        margin-bottom: 20px;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @include footer_ul_font;
        i {
            font-size: small;
            width: 30px;
        }
        a {
            color: #ffffff;
        }
    }
}
