body > header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
        position: absolute;
        left: 5%;
    }
    i {
        font-size: larger;
        color: $colour_font_secondary;
    }
}
