.restaurants {
    @include section_padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $colour_background;
    h2 {
        align-self: flex-start;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 750px) {
        display: grid;
        justify-content: center;
        grid-template: 40px repeat(2, 1fr) / repeat(2, minmax(0, 380px));
        h2 {
            grid-area: 1 / 1 / 2 / 3;
        }
    }
    @media screen and (min-width: 1400px) {
        grid-template: 40px 1fr / repeat(3, 380px);
        padding: 45px 0 45px 190px;
        h2 {
            grid-area: 1 / 1 / 2 / 5;
        }
    }
}
