.restaurants {
    @include section_padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $colour_background;
    h2 {
        align-self: flex-start;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 750px) {
        display: grid;
        grid-template: 40px repeat(2, auto) / repeat(2, auto);
        h2 {
            grid-area: 1 / 1 / 2 / 3;
        }
        .restaurant_card {
            justify-self: center;
        }
    }
}
