/* homepage fonts */
/* restaurant page fonts */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
fieldset,
legend,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: black;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

/* Font-size html relatif avec valeur de base 1rem=10px */
html {
  font-size: 62.5%;
}

/*Pas de mise en page automatique des formulaires*/
fieldset {
  border: none;
}

body {
  font-family: roboto, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.1rem;
}

h1 {
  font-family: shrikhand, sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}

body > header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body > header a {
  position: absolute;
  left: 5%;
}
body > header i {
  font-size: larger;
  color: #353535;
}

.cta {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cta .cta_content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f6f6f6;
}
.cta .cta_content h2 {
  padding: 0px 15px;
}
.cta .cta_content button {
  width: 220px;
  margin: 15px 0;
}

.functionning {
  padding: 40px 20px;
}
.functionning h2 {
  margin-bottom: 20px;
}
.functionning ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  counter-set: guideline_counter;
}

.restaurants {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f6f6f6;
}

body > footer {
  padding: 25px;
  background-color: #353535;
  color: #ffffff;
}
body > footer h3 {
  font-family: shrikhand, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}
body > footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.6rem;
  font-weight: 400;
}
body > footer ul i {
  font-size: small;
  width: 30px;
}
body > footer ul a {
  color: #ffffff;
}

button {
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1882352941);
}
button:hover {
  background: linear-gradient(to left top, #9b63df, #ff88de);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1882352941);
}

.cta_location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(80, 80, 80, 0.2509803922), #eaeaea 10%);
}
.cta_location i {
  width: 25px;
  color: #353535;
  font-size: 1.5rem;
}
.cta_location input {
  width: 150px;
  padding-left: 10px;
  border: none;
  background-color: transparent;
  color: #353535;
  font-size: 1.6rem;
  font-weight: 500;
}

.functionning li {
  height: 72px;
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: min(1.6rem, 6.4vw);
  font-weight: 500;
  position: relative;
}
.functionning li:nth-child(3) {
  background-color: #f5edff;
}
.functionning li:nth-child(3) i {
  color: #9356dc;
}
.functionning li i {
  color: #7e7e7e;
  width: 25px;
  font-size: 2rem;
  margin-right: 15px;
}
.functionning li::before {
  content: counter(guideline_counter);
  counter-increment: guideline_counter;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.restaurant_card {
  width: 100%;
  height: 65vw;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1882352941);
  position: relative;
}
.restaurant_card img {
  height: 65%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurant_card figcaption {
  height: 35%;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding: 0 5%;
  background-color: #ffffff;
  position: relative;
}
.restaurant_card figcaption h3 {
  font-size: 4.8vw;
  line-height: 5.3vw;
  font-weight: 700;
}
.restaurant_card figcaption p {
  font-size: 4.5vw;
  line-height: 5.3vw;
  font-weight: 300;
}
.restaurant_card figcaption i {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 5.6vw;
}
.restaurant_card::after {
  content: "Nouveau";
  width: 21vw;
  height: 7.7vw;
  border-radius: 0.8vw;
  position: absolute;
  top: 4%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 3.7vw;
  background-color: #99e2d0;
  color: #008766;
}

/*# sourceMappingURL=main.css.map */
