button {
    height: 50px;
    // width: auto;
    border-radius: 25px;
    border: none;
    @include button_color;
    @include button_font;
    @include shadow;
    position: relative;
    z-index: 1;
    transition-duration: 0.3s;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 25px;
        @include button_color_enlighted;
        opacity: 0;
        z-index: -1;
        transition-duration: 0.3s;
    }
    &:hover {
        &::after {
            opacity: 1;
            @include shadow_extended;
        }
    }
}
