button {
    height: 50px;
    // width: auto;
    border-radius: 25px;
    border: none;
    @include button_font;
    @include button_color;
    @include shadow;
    &:hover {
        @include button_color_enlighted;
        @include shadow_extended;
    }
}
