.functionning li {
    height: 72px;
    width: 100%;
    max-width: 380px;
    border-radius: 20px;
    background-color: $colour_background;
    @include shadow;
    display: flex;
    align-items: center;
    padding: 0 40px;
    @include guideline_font;
    position: relative;
    &:nth-child(3) {
        background-color: #f5edff;
        i {
            color: $colour_primary;
        }
    }
    i {
        color: $colour_icon;
        width: 25px;
        font-size: 2rem;
        margin-right: 15px;
    }
    &::before {
        content: counter(guideline_counter);
        counter-increment: guideline_counter;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour_primary;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
    }
}
