.functionning li {
    height: 72px;
    width: 100%;
    border-radius: 20px;
    background-color: $colour_background;
    @include shadow;
    display: flex;
    align-items: center;
    padding: 0 40px;
    @include guideline_font;
    position: relative;
    i {
        color: $colour_icon;
        width: 25px;
        font-size: 2rem;
        margin-right: 15px;
    }
    &::before {
        content: "1";
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        left: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour_primary;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }
}
