.cta_location {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $colour_background_location;
    z-index: -1;
    i {
        width: 25px;
        color: $colour_font_secondary;
        font-size: 1.5rem;
    }
    input {
        width: 150px;
        padding-left: 10px;
        background-color: $colour_background_location;
        border: none;
        color: $colour_font_secondary;
        font-size: 1.6rem;
        font-weight: 500;
    }
}
