.cta_location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#50505040, $colour_background_location 10%);
    i {
        width: 25px;
        color: $colour_font_secondary;
        font-size: 1.5rem;
    }
    input {
        width: 150px;
        padding-left: 10px;
        border: none;
        background-color: transparent;
        color: $colour_font_secondary;
        font-size: 1.6rem;
        font-weight: 500;
    }
}
