.restaurant_card {
    width: 100%;
    height: 65vw;
    @include shadow;
    border-radius: 15px;
    img {
        height: 65%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    figcaption {
        height: 35%;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
        gap: 10%;
        background-color: #ffffff;
        position: relative;
        h3 {
            font-size: 4.8vw;
            line-height: 5.3vw;
            font-weight: 700;
        }
        p {
            font-size: 4.5vw;
            line-height: 5.3vw;
            font-weight: 300;
        }
        i {
            position: absolute;
            top: 30%;
            right: 10%;
            font-size: 5.6vw;
        }
    }
}
