.restaurant_card {
    width: 100%;
    height: 65vw;
    border-radius: 15px;
    @include shadow;
    position: relative;
    img {
        height: 65%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    figcaption {
        height: 35%;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10%;
        padding: 0 5%;
        background-color: #ffffff;
        position: relative;
        h3 {
            @include card_h3_font;
        }
        p {
            @include card_p_font;
        }
        i {
            position: absolute;
            top: 30%;
            right: 10%;
            font-size: 5.6vw;
        }
    }
    &::after {
        content: "Nouveau";
        width: 21vw;
        height: 7.7vw;
        border-radius: 0.8vw;
        position: absolute;
        top: 4%;
        right: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 3.7vw;
        background-color: $colour_tertiary;
        color: $colour_tertiary_font;
    }
}
