@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loader_background {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes loader_disappear {
    from {
        opacity: 1;
        z-index: 10;
    }
    to {
        opacity: 0;
        z-index: 0;
    }
}
