@mixin section_padding {
    padding: 45px $mobile_section_side_padding 65px $mobile_section_side_padding;
}

@mixin shadow {
    box-shadow: 0 3px 10px #00000030;
}

@mixin shadow_extended {
    box-shadow: 0 5px 20px #00000030;
}

@mixin button_color {
    background: linear-gradient(
        to left top,
        $colour_primary,
        $colour_secondary
    );
}

@mixin button_color_enlighted {
    background: linear-gradient(
        to left top,
        lighten($colour_primary, 3%),
        lighten($colour_secondary, 3%)
    );
}

/* homepage fonts */

@mixin button_font {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

@mixin guideline_font {
    font-size: min(1.6rem, 6.4vw);
    font-weight: 500;
}

@mixin card_h3_font {
    font-size: min(calc($max_device_width * 4.8 / 100), 4.8vw);
    line-height: min(24px, 5.3vw);
    font-weight: 700;
}

@mixin card_p_font {
    font-size: min(calc($max_device_width * 4.5 / 100), 4.5vw);
    line-height: min(24px, 5.3vw);
    font-weight: 300;
}

@mixin footer_h3_font {
    font-family: shrikhand, sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
}

@mixin footer_ul_font {
    font-size: 1.6rem;
    font-weight: 400;
}

/* restaurant page fonts */

@mixin menu_h2_font {
    font-family: shrikhand, sans-serif;
    font-size: min(2.8rem, 9.3vw);
    font-weight: 400;
}

@mixin menu_h3_font {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px;
}

@mixin dish_title_font {
    font-size: 1.8rem;
    font-weight: 500;
}

@mixin dish_description_font {
    font-size: 1.5rem;
    font-weight: 300;
}

@mixin dish_price_font {
    font-size: 1.5rem;
    font-weight: 700;
    color: $colour_font_secondary;
}
