$colour_primary: #9356dc;
$colour_secondary: #ff79da;
$colour_tertiary: #99e2d0;
$colour_tertiary_font: #008766;
$colour_font_secondary: #353535;
$colour_icon: #7e7e7e;
$colour_background: #f6f6f6;
$colour_background_location: #eaeaea;
$colour_background_footer: #353535;
